$primary-color: #22a7f0;
$secondary-color: #2e3131;
$background-color: #fff;
$border-light: darken($background-color, 5%);

body {
  background-color: $background-color;
}

.hero-img {
  height: 100%;
  background: url('../images/scania-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px;
}

.main-nav {
  margin: 60px auto;
  color: $secondary-color;

  a {
    color: inherit;
    border-radius: 5px;

    &:hover {
      background: darken($background-color, 3%);
    }
  }
  a#apply {
    background: $primary-color;
    color: $background-color;
    cursor: pointer;

    &:hover { background: darken($primary-color, 3%); }
  }
}

.intro {
  margin-top: 0px;
  padding: 0px 25px 20px 25px;

  .content {
    border: 1px solid $border-light;
    border-radius: 5px;
    text-align: center;
    padding: 25px 15px 25px 15px;
    height: 100%;

    img { max-height: 200px; }
    h5 { color: #3e3e3e; font-style: italic; }
    h6 { margin-top: 10px; }
    p { margin-top: 35px; }
  }
}
